<div fxLayout="row">
	<div fxFlex="90">
		<h3 style="font-weight: bold;" class="resizable-text">{{this.product.name}}</h3>
	</div>
	<div fxFlex="10" fxLayoutAlign="end center">
		<a mat-icon-button color="warn" (click)="this.dialogRef.close()">
			<mat-icon>close</mat-icon>
		</a>
	</div>
</div>

<div fxLayout="row">
	<div fxFlex="48" #container>
		<ng-image-slider fxFlex [images]="this.images" [manageImageRatio]="false" [imageSize]="{width: container.offsetWidth, height: container.offsetWidth, space:0}"></ng-image-slider>
	</div>
	<div fxFlex="48" fxLayoutAlign="center center" class="p-4">
		<p fxLayoutAlign="center" class="text-muted resizable-text">{{product.description}}</p>
	</div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
	<span class="text-muted mt-4 resizable-text" style="font-weight: bold;">{{'PRODUCT.PRICE' | translate}}:&ensp;<u>{{product.price | number : '1.2-2'}}€</u></span>
</div>