<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-dark alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center pb-5">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <img src="./assets/img/brand/logo.png" class="rounded-circle" style="z-index: 1;">
                </div>
              </div>              
            </div>
            <div class="text-center mt-5 pt-5">
              <h3 [innerHTML]="'CONTACTS.TITLE' | translate"></h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{'CONTACTS.PLACE' | translate}}</div>
              
              <div fxLayout="row wrap">
                  <div fxFlex="50" class="m-5">
                    <p [innerHTML]="'CONTACTS.DESCRIPTION_1' | translate" style="text-align: start;"></p>
                  </div>
                  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/img/brand/face.jpg" class="rounded-circle" style="z-index: 1;">
                    <p class="text-muted" [innerHTML]="'CONTACTS.CAPTION' | translate"></p>
                  </div>
              </div>
              
              <p [innerHTML]="'CONTACTS.DESCRIPTION_2' | translate"></p>
              <div class="h6 mt-5 row justify-content-center"><mat-icon class="mr-2">mail_outlined</mat-icon><a href="mailto:{{'CONTACTS.EMAIL' | translate}}">{{'CONTACTS.EMAIL' | translate}}</a></div>
              <div class="row justify-content-center"><mat-icon class="mr-2">chat</mat-icon>{{'CONTACTS.CELL' | translate}}</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p [innerHTML]="'CONTACTS.FOOTER' | translate"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  