<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/sinapsi3d.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/sinapsi3d-black.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">{{'NAVBAR.PRODUCTS' | translate}}</a>
        </li>
        <li class="nav-item" [ngStyle]="{'margin-bottom': this.isCollapsed ? '0px' : '15px'}">
            <a class="nav-link" [routerLink]="['/contacts']">{{'NAVBAR.CONTACTS' | translate}}</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <img [src]="this.selectedLang" class="nav-link-inner--text">
            </a>
            <div class="dropdown-menu" style="min-width: 50px;">
              <img *ngFor="let lang of this.langIconPaths | keyvalue" class="dropdown-item" [src]="lang.value" (click)="changeLang(lang.key)">
            </div>
          </li>
      </ul>
      <ul *ngIf="!this.identity; else signedin" class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.youtube.com/channel/UCkIlnm3o_d7PmxoOMnYXk7w" target="_blank" data-toggle="tooltip" title="Follow us on YouTube">
              <i class="fa fa-youtube"></i>
              <span class="nav-link-inner--text d-lg-none">YouTube</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.instagram.com/sinapsi3d/?hl=it" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/Sinapsi3d/" target="_blank" data-toggle="tooltip" title="Follow us on Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
        <li class="nav-item d-lg-block ml-lg-2" [ngStyle]="{'margin-bottom': this.isCollapsed ? '0px' : '10px', 'margin-top': this.isCollapsed ? '0px' : '20px'}">
          <button [routerLink]="['/login']" mat-raised-button>{{'NAVBAR.LOGIN' | translate}}<mat-icon>login</mat-icon></button> 
        </li>
        <li class="nav-item d-lg-block ml-lg-2">
          <button [routerLink]="['/register']" mat-raised-button style="background-color: #32325d;color: white;">{{'NAVBAR.REGISTER' | translate}}<mat-icon class="ml-2">person_add_alt_1</mat-icon></button> 
        </li>
      </ul>
      <ng-template #signedin>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.youtube.com/channel/UCkIlnm3o_d7PmxoOMnYXk7w" target="_blank" data-toggle="tooltip" title="Follow us on YouTube">
                  <i class="fa fa-youtube"></i>
                  <span class="nav-link-inner--text d-lg-none">YouTube</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.instagram.com/sinapsi3d/?hl=it" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                    <i class="fa fa-instagram"></i>
                    <span class="nav-link-inner--text d-lg-none">Instagram</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.facebook.com/Sinapsi3d/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                    <i class="fa fa-facebook-square"></i>
                    <span class="nav-link-inner--text d-lg-none">Facebook</span>
                </a>
                </li>
          <li class="nav-item ml-3">
            <span style="color: rgba(255, 255, 255, 0.95); font-size: 0.9rem;">{{'NAVBAR.WELCOME' | translate}}<span style="font-style: italic;font-weight: bold;">{{this.identity.name}}</span></span>
          </li>
          <li class="nav-item profile-icon" ngbDropdown placement="bottom-right" style="padding-top: 8px;">
            <a class="nav-link nav-link-icon no-caret" id="navbar-default_dropdown_1" ngbDropdownToggle>
              <mat-icon>account_circle</mat-icon>
            </a>
            <div class="dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1" ngbDropdownMenu>
              <a *ngIf="!this.isAdmin()" [routerLink]="['/cart']" class="dropdown-item">
                <span>{{'NAVBAR.CART' | translate}}</span>
                <mat-icon style="position: absolute;right: 0.5em;">shopping_cart</mat-icon>
              </a>
              <a *ngIf="!this.isAdmin()" [routerLink]="['/order']" class="dropdown-item">
                <span>{{'NAVBAR.ORDERS' | translate}}</span>
                <mat-icon style="position: absolute;right: 0.5em;">shopping_bag</mat-icon>
              </a>
              <a *ngIf="this.isAdmin()" [routerLink]="['/admin-product']" class="dropdown-item">
                <span>{{'NAVBAR.ADMIN_ADD' | translate}}</span>
                <mat-icon style="position: absolute;right: 0.5em;">add_circle_outline</mat-icon>
              </a>
              <a *ngIf="this.isAdmin()" [routerLink]="['/order']" class="dropdown-item">
                <span>{{'NAVBAR.ADMIN_ORDERS' | translate}}</span>
                <mat-icon style="position: absolute;right: 0.5em;">shopping_bag</mat-icon>
              </a>
              <div class="dropdown-divider"></div>
              <a [routerLink]="['/profile']" class="dropdown-item">
                <span>{{'NAVBAR.CHANGE_PWD' | translate}}</span>
                <mat-icon style="position: absolute;right: 0.5em;">manage_accounts</mat-icon>
              </a>
              <a class="dropdown-item" (click)="this.signOut()">
                <span>{{'NAVBAR.LOGOUT' | translate}}</span>
                <mat-icon style="position: absolute;right: 0.5em;">logout</mat-icon>
              </a>
            </div>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
