<main fxLayout="column">
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary" style="position: absolute;">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="text-center">
              <img src="./assets/img/brand/sinapsi3d.png" style="width: 70%;" class="img-fluid">
              <p class="lead text-white">
                  Utilizziamo le migliori stampanti 3D sul mercato per creare 
                  tutti i prodotti richiesti. <br> Chiedi subito un preventivo!
              </p>
              <div class="btn-wrapper mt-5">
                <a href="mailto:info@sinapsi3d.it"
                  class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-email-83"></i></span>
                  <span class="btn-inner--text">Richiedi un preventivo</span>
                </a>
                <a href="https://www.instagram.com/sinapsi3d/?hl=it"
                  class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-instagram"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Seguici sui nostri</span> Social</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100" style="position: absolute;">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>  

    <div fxFlex class="u-body">
        <section class="u-align-left u-clearfix u-section-1" id="carousel_10eb">
            <div fxLayout="column" class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
                <div class="u-shape u-shape-svg u-text-palette-2-base u-shape-1">
                    <svg class="d-none d-md-block u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4d96"></use></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-4d96"><path d="M43.2,126.9c14.2,1.3,27.6,7,39.1,15.6c8.3,6.1,19.4,10.3,32.7,5.3c11.7-4.4,18.6-17.4,21-30.2c2.6-13.3,8.1-25.9,15.7-37.1
                c8.3-12.1,10.8-27.9,5.3-42.7C150.5,20.3,134.6,9,117,7.6C107.9,6.9,98.8,5,90.1,1.9C83-0.6,75-0.7,67.4,2.1
                c-9.9,3.7-17,11.6-20.1,21c-3.3,10.1-10.9,18-20.6,22.2c-0.1,0-0.1,0.1-0.2,0.1c-20.3,8.9-31,32-24.6,53.2
                C6.9,115.6,25.2,125.2,43.2,126.9z"></path></svg>
                </div>
                <div class="u-clearfix u-expanded-width u-gutter-32 u-layout-wrap u-layout-wrap-1">
                    <div class="u-gutter-0 u-layout">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-valign-top-lg u-valign-top-xl u-container-layout-1">
                                    <h2 class="u-custom-font u-font-ubuntu u-text u-text-1 u-text-palette-2-base">
                                        <b>Stampa 3D</b>
                                    </h2>
                                    <h2>Per tutte le tue esigenze</h2>
                                    <p class="u-text u-text-2">Siamo un team nato nel 2018 con molta esperienza nel settore. Progettiamo e sviluppiamo qualsiasi oggetto necessario. Non esistare a <a href="/#/contacts" class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">contattarci</a> per richiedere un preventivo.&nbsp;
                                    </p>
                                    <a href="/#/products" class="u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-3">Scopri prodotti in vendita</a>
                                </div>
                            </div>
                            <div class="u-align-right u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <div #animatedImg [ngStyle]="{'animation': isElementVisible(animatedImg) ? 'frame 2s;' : ''}" class="u-expand-resize u-image u-image-circle u-image-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)"  [gutterSize]="'10px'" class="mt-5">
                    <mat-grid-tile *ngFor="let image of this.album; let i=index">
                        <img [src]="image.thumb" (click)="open(i)" class="zoom" style="width: -webkit-fill-available;"/>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </section>
    </div>

    <mat-divider class="m-5"></mat-divider>

    <div class="u-body">
        <section class="u-align-left u-clearfix u-section-1" id="carousel_10ea">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <div class="u-shape u-shape-svg u-text-palette-2-base u-shape-1" style="margin: 0">
                <svg class="d-none d-md-block u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4d97"></use></svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-4d97"><path d="M 43.2 126.9 c 14.2 1.3 27.6 7 39.1 15.6 c 8.3 6.1 19.4 10.3 32.7 5.3 c 11.7 -4.4 18.6 -17.4 21 -30.2 c 2.6 -13.3 8.1 -25.9 -12 -35.6 c -20 -20 -9 -31 5.3 -42.7 C 150.5 20.3 134.6 9 117 7.6 C 107.9 6.9 98.8 5 90.1 1.9 C 83 -0.6 75 -0.7 67.4 2.1 c -9.9 3.7 -27.4 -6.1 -35.4 12.9 c -3.3 10.1 -21 -1 -20.6 22.2 c -0.1 0 -0.1 0.1 -0.2 0.1 c -0.2 13.7 -8.2 15.7 -8.2 34.7 C 5 109 25.2 125.2 43.2 126.9 z"></path></svg>
            </div>
            <div class="u-clearfix u-expanded-width u-gutter-32 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-right u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                            <div #animatedImg2 [ngStyle]="{'animation': isElementVisible(animatedImg2) ? 'frame 2s;' : ''}" class="d-none d-md-block u-expand-resize u-image u-image-circle u-image-1" style="background-image: url('../../../assets/img/home/logo-2.jpg');"></div>
                            </div>
                        </div>
                        <div style="text-align: end;" class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top-lg u-valign-top-xl u-container-layout-1">
                                <h2 class="mt-md-0 mt-5">Laboratorio all'avanguardia</h2>
                                <p class="u-text u-text-2">
                                    Possediamo un ampio laboratorio dove creiamo la nostra arte. Anni di pratica ci hanno permesso di raggiungere risultati 
                                    eccellenti in tutte le fasi di lavorazione dei nostri prodotti. Dalla progettazione, passando per il montaggio, la sculzione, la madonna
                                    e santi vari, creaiamo oggetti unici e perfetti. La nostra fede sta nella passione per la fregna, che regna sovrana all'interno del nostro
                                    gruppo di segaioli. Siamo anche tossici, ma il lavoro non ci impedisce di soddisfare le nostre dipendenze a causa della poco spiccata
                                    velocità di operazione delle nostre stampati, alimentate, a quanto pare, da elettroni geneticamente modificati con aggiunta di un cromosoma.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)"  [gutterSize]="'10px'" class="mt-5">
                <mat-grid-tile *ngFor="let image of this.album; let i=index">
                    <img [src]="image.thumb" (click)="open(i)" class="zoom" style="width: -webkit-fill-available;"/>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        </section>
    </div>
</main>