@media (max-width: 1124px) {
  p.resizable-text {
    font-size: 10px;
  }
}

@media (max-width: 720px) {
  p.resizable-text {
    font-size: 4px;
  }
}
@media (max-width: 400px) {
  p.resizable-text {
    font-size: 2px;
  }
}
