<main fxLayout="column" style="position: relative;">
    <section fxFlex style="height: 230px; background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9)">
        <span
            style="height: 150px;width: 150px;margin-left: -4%;bottom: auto;background: rgba(255, 255, 255, 0.1);display: block;border-radius: 50%;"></span>
        <h2 style="text-align: center;font-weight: bold;color: white;">I miei ordini</h2>
    </section>

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <ng-container *ngFor="let item of this.pageStruct">
            <div class="m-3" style="display: block;border: 1px solid grey;border-radius: 20px;width: 50%;position: relative;">
                <div *ngIf="item.isLoading" style="position: absolute; z-index: 1; top:0px; bottom:0px; left:0px; right:0px; background: rgba(0, 0, 0, 0.15);">
                    <mat-spinner style="margin: auto; top:40%"></mat-spinner>
                </div>
                <h4 class="text-muted" style="text-align: center;">Ordine effettuato alle <u>{{item.order.createdAt | date: 'hh:mm'}}</u> del <u>{{item.order.createdAt | date: 'dd/MM/yyyy'}}</u></h4>
                <ng-container *ngFor="let product of item.products">
                    <div fxLayout="row">
                        <div fxFlex="48" class="m-2" #container>
                            <ng-image-slider
                                [images]="product.images" 
                                [manageImageRatio]="false" 
                                [imageSize]="{width: container.offsetWidth, height: container.offsetWidth, space:0}">
                            </ng-image-slider>
                        </div>
                        <div fxFlex="48" fxLayout="column" class="p-4">
                            <div fxFlex fxLayout="column">
                                <h3 class="resizable-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{product.model.name}}</h3>
                                <p class="text-muted resizable-text" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{product.model.description}}</p>
                            </div>
                            <div fxFlex fxLayoutAlign="end end" class="p-0">
                                <div fxFlex="60" fxLayoutAlign="start" class="resizable-text">
                                    Prezzo:&nbsp;<u>{{product.model.price | number : '1.2-2'}}€</u>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</main>