<form (ngSubmit)="this.onSubmit()">
    <div *ngIf="isLoading" style="position: absolute; z-index: 1; top:0px; bottom:0px; left:0px; right:0px; background: rgba(0, 0, 0, 0.25);">
        <mat-spinner style="margin: auto; top:40%"></mat-spinner>
    </div>

    <div class="text-center text-muted mb-4">
        <div *ngIf="!this.errorMessage; else errorTemplate">
            <small>Inserisci la tua email</small>
        </div>
        <ng-template #errorTemplate>
            <small style="color: #800000;">{{this.errorMessage}}</small>
        </ng-template>
    </div>
    <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
        </div>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary my-4">Invia</button>
    </div>
  </form>